@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

.root{
    -fx-font-family: "Fugaz One", cursive;
}
#goBack{
    -fx-font-family: "Fugaz One", cursive;
    -fx-background-color: #f15025;
        -fx-font-size: 34pt;
        -fx-line-spacing: -16;
        -fx-padding: 0;
        -fx-indent: 0;
        -fx-end-margin: 0;
        -fx-start-margin: 0;
        -fx-background-radius: 22;
        -fx-cursor: hand;
}
#name{
    -fx-font-family: "Fugaz One", cursive;
    -fx-font-size:65;
}
#goBack:hover{
    -fx-background-color: #c3330c;
    -fx-border-color: white;
    -fx-border-radius: 24;
    -fx-border-width: 4;
    -fx-border-insets: -4;
}